<header class="indexHeader">
    <a href="/admin">
        <div class="avatar" style="background-image: url(./img/user.png)"></div>
    </a>
</header>
<section class="content">
    <div class="container">
        <h2>Proyectos</h2>
        <div class="row" id="proyectosContainer">
        </div>
        <h2>Trabajos Desempeñados</h2>
        <div class="row" id="trabajosContainer">
        </div>
    </div>
</section>
<footer>
    <h2>@ 2020. Diseño y Desarrollo: Juan Camilo Lozano Claros </h2>
</footer>